@import "color";
@import "fonts";
@import "reset";

@mixin  itemEtc ($fFamely,$fsize, $tcolor,$fweight){
    font-family: $fFamely;
    font-size: $fsize;
    color: $tcolor;
    font-weight: $fweight;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: $btnColor;
}
nav{
    a{
        img{
            width: 100px;
        }
    }
    ul{
        text-align: center;
        li{
           
            a{
                padding: 20px 15px!important;
                color: $btn_textColor!important;
                font-size: 20px;
            }
        }
    }
    
}
.navbg{
    background: $btnColor;
    animation: bg 1s;
}
@keyframes bg{
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}
.shop{
    background-color: $btn_textColor;
    color: $btnColor!important;
    padding: 15px 50px!important;
    border-radius: 40px;
    font-weight: bold;
}
.connectText{
    margin-right: 15px;
}
#banner{
    position: relative;
    width: 100%;
    height: 900px;
    background-color: rgba(209, 209, 209, 0.356);
    .top_img{
        position: absolute;
        left: -45px;
        top: -40px;
        img{
            width: 100px;
        }
    }
    .banner_text{
        margin-top: 270px;
        h2{
            @include itemEtc($interFont,50px,$headingColor ,400);
            margin-bottom: 40px;
        }
        p{
            @include itemEtc($RobotoFont,18px ,$description_clr,400);
            margin-bottom: 65px;
           
        }
        a{
            background: $btnColor;
            padding: 20px 60px;
            border-radius: 50px;
            text-decoration: none;
            margin-top: 65px;
            @include itemEtc($RobotoFont,20px,$btn_textColor,500);
        }
    }

    .item{
        position: relative;
        img{
            width: 790px;
            position: absolute;
            right: 0;
        }
    }
    .tala_img{
       margin-top: 170px;
        img{
            width: 500px;
        }
    }
    .btm_right{
        float: right;
        img{
            width: 150px;
        }
    }
}

#service{
    padding-top: 100px;
    .image1{
        position: relative;
    }
    .image2{
        position: absolute;
        top: 50px;
        right: -80px;
        img{
            width:400px;
            
        }
    }
}
.service_text{
     h5{
         @include itemEtc($RobotoFont,30px ,$btnColor ,500 );
         margin-bottom: 15px;
     }
     h2{
         @include itemEtc($interFont,50px ,$headingColor ,400 );
         line-height: 65px;
         margin-bottom: 15px;

     }
     p {
        @include itemEtc($RobotoFont,14px ,$description_clr ,400);
        line-height: 28px;
        margin-bottom: 15px;


     }
     
}

.contant_text{
    border-left: 5px solid $btnColor;
     h3{
        margin-left: 10px;
        @include itemEtc($interFont,25px ,$title_color ,400 )
     }
     p{
         margin-left: 10px;
         @include itemEtc($RobotoFont,16px ,$description_clr ,400 );
         line-height: 28px;
     }
 }

// begin css start

#begin{
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    .begin_under_contant{
        background: #F5F5F5;
        padding: 20px;
        border-radius: 20px;
        height: 700px;
    }
    .begin_text{
        margin-top: 80px;
        position: relative;
        h5{
            @include itemEtc($RobotoFont,30px ,$btnColor ,500);
        }
        h2{
            @include itemEtc($interFont,50px ,$headingColor ,400 )
        }
        p{
            @include itemEtc($RobotoFont,15px ,$description_clr ,400 );
            line-height: 28px;
            margin-bottom: 50px;
    
        }
        a{
                background: $btnColor;
                padding: 20px 60px;
                border-radius: 50px;
                text-decoration: none;
                margin-top: 65px;
                @include itemEtc($RobotoFont,20px,$btn_textColor,500);
        }
        img{
            position: absolute;
            left: -20px;
            top: 230px;
            width: 300px;
        }
      
    }
    .right_img{
        img{
            width:120px;
            margin-top: 40px;
        }
    }
}
.begin_medil_item{
    background: #fff;
    margin-bottom: 50px;
    position: relative;
    padding: 25px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    img{
        background: #F9DEC9;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 15px;
        width: 100px;
    }
    h2{
        @include itemEtc($interFont,25px ,$title_color ,400 );
        margin-bottom: 15px;
    }
    p{
        @include itemEtc($RobotoFont,12px ,$description_clr ,400 );
            line-height: 28px;
    }
    a{
        @include itemEtc($RobotoFont,15px,$btnColor,500);
        text-decoration: none;
    }
}
.bg_img{
    position: absolute;
    bottom: -100px;
    right: 0px;
    img{
        width: 215px;
    }
}


// begin css end

// features css start
#feature{
    .feature_item{
        padding: 0 325px;
        h5{
            @include itemEtc($RobotoFont,30px ,$btnColor ,500 );
        }
        h2{
            @include itemEtc($interFont,50px ,$headingColor,400 );
        }
        p{
            @include itemEtc($RobotoFont,16px ,$description_clr ,400 );
        }
    }
    .feature_all_img{
        .amazing_img{
            
            img{
                width: 300px;
                position: relative;
            }
        }
        .img2{
            position: absolute;
            bottom: 15px;
            left: 90px;
            img{
                width: 200px;
            }
        }
    
        .img3{
            position: absolute;
            top: 15px;
            left:62px;
            img{
                width: 250px;
                height: 290px;
            }
        }
    }
    



    .feature_left_text{
        h4{
            @include itemEtc($interFont,20px ,$title_color,400 );
            position: relative;
        }
        h4:before{
            position: absolute;
            content: " ";
            top: 10px;
            right: -75px;
            width: 50px;
            height: 5px;
            background: $title_color;
    
        }
        h4:after{
            position: absolute;
            content: " ";
            top: 5px;
            right: -30px;
            width: 15px;
            height: 15px;
            background: #3C73F1;
            border-radius: 50%;
        }
        p{
            @include itemEtc($RobotoFont,13px ,$description_clr ,400 );
        }
    }

.feature_left_text2{
    @extend .feature_left_text;
    margin-right: 30px;
}

.feature_left_text3{
    @extend .feature_left_text;
    margin-right: 5px;
}

.feature_right_text{
    h4{
        @include itemEtc($interFont,20px ,$title_color,400 );
        position: relative;
    }
    h4:before{
        position: absolute;
        content: " ";
        top: 10px;
        left: -75px;
        width: 50px;
        height: 5px;
        background: #3C73F1;

    }
    h4:after{
        position: absolute;
        content: " ";
        top: 5px;
        left: -30px;
        width: 15px;
        height: 15px;
        background: #3C73F1;
        border-radius: 50%;
    }
    p{
        @include itemEtc($RobotoFont,13px ,$description_clr ,400 );
    }
}
.feature_right_text2{
    @extend .feature_right_text;
    margin-left: 30px;
}

.feature_right_text3{
    @extend .feature_right_text;
    margin-left: 5px;
}


}

// features css end


//best_produc css start
#best_product{
    padding-top: 100px;
    .product_item{
        background: url("../images/Rectangle.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }
    .product_text{
        padding: 40px 40px;
        h2{
            @include itemEtc($interFont,50px ,$btn_textColor ,400 );
        }
    }
    .product_btn{
        padding: 40px 40px;
        margin-top: 50px;
        a{
            @extend .shop;
            text-decoration: none;
        }
    }
}


//best_produc css end

//gallery css start

#gallery{
    padding-top: 100px;
    .container{
        background: #F5F5F5;
        padding: 50px 20px 50px 20px;
        border-radius: 35px;
        
    }
    .gallery_ani_img{
        position: absolute;
        top: -50px;
        left: -5px;
        img{
            width: 225px;
        }
    }

        .gallery_heading{
            position: relative;
            h5{
               @include itemEtc($RobotoFont,30px ,$btnColor ,500 );
            }
            h2{
                @include itemEtc($interFont,50px ,$headingColor , 400);
            }
            p{
                @include itemEtc($RobotoFont,16px ,$description_clr ,400 );
                padding: 0 320px;
            }
        }

    }

.img4{
    margin-top: 39px;
}
//gallery css end


// question css start

#question{
    padding-top: 100px;
    padding-bottom: 50px;
    .question_heading{
        h5{
            @include itemEtc($RobotoFont,30px ,$btnColor ,500 );
            line-height: 35px;
        }
        h2{
            @include itemEtc($interFont,45px ,$headingColor ,400 );
            line-height: 65px;
        }
        p{
            @include itemEtc($RobotoFont,16px ,$description_clr ,400 );
            line-height: 28px;
        }
    }
}

.card{
    margin-bottom: 20px;
    border-left-color: #FF7000;
    border-left-width: 3px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    .card-header{
        padding: 0;
        border-bottom: none;
        .btn{
            padding: 20px 20px;
            text-align: left;
            text-decoration: none;
            background: #F5F5F5;
            @include itemEtc($RobotoFont,20px ,$title_color ,500 );
            border-bottom-color: #F5F5F5;
            i{
                float: right;
                transform: rotate(-90deg);
                transition: all linear .3s;
                margin-top: 5px;
            }
        }
        .collapsed{
            i{
                float: right;
                transform: rotate(0);
                margin-top: 5px;
            }
        }
    }
    .card-body{
        background: #F5F5F5;
        border-bottom: 0;
    }
}



// question css end


//video css start
#video_contant{
    padding-top: 100px;
    padding-bottom: 400px;
    background-image: url('/images/video_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .video_heading{
        text-align: center;
        h2{
            @include itemEtc($interFont,50px ,$headingColor ,400 );
        }
        p{
            @include itemEtc($RobotoFont,16px ,$description_clr ,400 );
            padding: 0 100px;
        }
        .video_form_item{
            position: relative;
            input{
                height: 60px;
                border-radius: 50px;
            }
            input:focus{
                box-shadow: none;
            }
            a{
                position: absolute;
                top: 0;
                right: 0;
                padding: 15px 60px;
                background: #FF7000;
                 border-radius: 50px;
                @include itemEtc($RobotoFont,20px ,$btn_textColor ,500 );
                text-decoration: none;
            }
        }
       
    }
    
}

#video{
    .video_item{
        background-image: url("../images/caykel.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 550px;
        border-radius: 10px;
        margin-top: -300px;
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        a{
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    

}


//video css end


// contact css start

#contact{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../images/contact_hidden_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .contact_text{
        margin-top: 100px;
        h5{
            @include itemEtc($RobotoFont,30px ,$btnColor ,500 );
            line-height: 35px;
        }
        h2{
            @include itemEtc($interFont,30px ,$headingColor ,400 );
            line-height: 45px;
        }
        p{
            @include itemEtc($RobotoFont,20px ,$headingColor ,400 );
            line-height: 35px;
        }
        span{
            @include itemEtc($RobotoFont,16px ,$description_clr ,400 );
            line-height: 28px;
        }
    }
    .input_item{
        padding: 50px 20px;
        background: #fff;
        box-shadow: 0px 0px 5px 0px;
        border-radius: 10px;
        h2{
            @include itemEtc($RobotoFont,50px ,$headingColor ,400 );
            line-height: 35px;
        }
        input{
            background: #F5F5F5;
            border: none;
            height: 50px;
            position: relative;
        }
        input:focus{
            box-shadow: none;
        }
        .fa-user{
            position: absolute;
            top: 150px;
            right: 50px;
            
        }
        .fa-envelope{
            position: absolute;
            right: 50px;
            top: 215px;
        }
        .fa-pencil-square-o{
            position: absolute;
            right: 50px;
            bottom: 235px;
        }
        textarea{
            background: #F5F5F5;
            border: none;
            @extend input:focus;
        }
        a{
            background: #FF7000;
            padding: 20px 60px;
            border-radius: 50px;
            text-decoration: none;
            margin-top: 65px;
            font-family: "Roboto";
            font-size: 20px;
            color: #FFFFFF;
            font-weight: 500;
        }
    }
}

// contact css end

// footer section start

#footer{
    background-image: url("../images/footer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .ani_img{
        position: absolute;
        bottom: 0;
        img{
            width: 290px;
        }
    }
    .product{
        margin-top: 85px;
        img{
            width: 170px;
            margin-bottom: 15px;
        }
        p{
            @include itemEtc($RobotoFont,16px ,$btn_textColor ,400 );
            line-height: 28px;
        }
    }
    .company{
        margin-top: 85px;
        h2{
            @include itemEtc($interFont,30px ,$btn_textColor ,400 );
           
        }
        p{
            @include itemEtc($RobotoFont,16px ,$btn_textColor ,400 );
            line-height: 40px;
        }
    }
    .link{
        margin-top: 85px;
        h2{
            @include itemEtc($interFont,35px ,$btn_textColor ,400 );
        
        }
        .link_left{
            a{
                @include itemEtc($RobotoFont,16px ,$btn_textColor ,400 );
                text-decoration: none;
                line-height: 30px;
            }
        }
        .link_right{
            a{
                @include itemEtc($RobotoFont,16px ,$btn_textColor ,400 );
                text-decoration: none;
                line-height: 30px;
            }
        }

    }
    .news_hidde_img{
        position: absolute;
        right: 0px;
        img{
            width: 260px;
        }
    }
    .news_letter{
        margin-top: 85px;
        h2{
            @include itemEtc($interFont,35px ,$btn_textColor ,400 );
            margin-bottom: 30px;
        }
        .news_form_item{
            position: relative;
            input{
                height: 60px;
            }
            a{
                position: absolute;
                top: 13px;
                right: 0;
                i{
                    font-size: 30px;
                    background: #F9DEC9;
                    padding: 15px 40px 5px 40px;
                    border-radius: 5px;
                    color: $btnColor;
                }
            }
        }      
    }

    .footer_icon{
        margin-top: 30px;
        a{
            i{
                font-size: 20px;
                color: $btn_textColor;
                margin: 0 5px;
            }
        }
    }

    .footer_bottom_text{
        border-top: 3px solid #ffffffa8;
        margin-top: 30px;
        p{
            margin-top: 30px;
            @include itemEtc($RobotoFont,16px ,$btn_textColor ,400 );
            margin-bottom: 0;
            padding-bottom: 20px;
        }
    }

}

// footer section end

